@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.bg-gradient {
  background: linear-gradient(0deg, rgba(1, 15, 69, 0) 14.64%, #000f45 100%);
}

.ai-service-gradient {
  background: linear-gradient(
    270.03deg,
    rgba(0, 0, 0, 0.07) 11.41%,
    rgba(0, 0, 0, 0.79) 99.97%
  );
}

.coming-soon-text {
  font-weight: bold;
  background-image: url("../public/images/comingSoonBG.png");
  background-position: center 80%;
  background-size: cover;
  background-position: center;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}
